<!DOCTYPE HTML>
<html>
<head>
<title>共享博客-文章列表</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="../assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
    <body>
        <!-- Page Wrapper -->
            <div id="page-wrapper">
                <!-- Header -->
                    <header id="header">
                        <h1><a href="index.html">共享博客</a></h1>
                        <nav id="nav">
                            <ul>
                                <li class="special">
                                    <a href="#menu" class="menuToggle"><span>菜单</span></a>
                                    <div id="menu">
                                        <ul>
                                            <li><a href="https://ewail.github.io">主页</a></li>
                                            <li><a href="https://ewail.github.io/content.html">文章列表</a></li>
                                            <li><a href="https://ewail.github.io/about.html">关于此博客</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </header>

                <!-- Main -->
                    <article id="main">
                        <header>
                            <h2>示例页面</h2>
                            <p>分享，是指与他人分着享受、使用、行使。语出清黄六鸿《福惠全书·杂课·牙税》："与该房分享其利。"</p>
                        </header>
                        <section class="wrapper style5">
                            <div class="inner">

                                <h3>知识传递</h3>
                                <p></p>
                                <p></p>

                            </div>
                        </section>
                    </article>

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="copyright">
                            <li>Copyright &copy; 2015-2017 共享博客</li>
                        </ul>
                    </footer>

            </div>

        <!-- Scripts -->
            <script src="../assets/js/jquery.min.js"></script>
            <script src="../assets/js/jquery.scrollex.min.js"></script>
            <script src="../assets/js/jquery.scrolly.min.js"></script>
            <script src="../assets/js/skel.min.js"></script>
            <script src="../assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="../assets/js/main.js"></script>

    </body>
</html>
